.btn{
    display: inline-block;
    padding: 20px;
    border: .1em solid grey;
    margin: 5px;
    border-radius: 1rem;
}

.container{
    width: fit-content;
    border: .1em solid black;
    padding: 10px;
    margin: 10px auto;
}

.btn.initialize{
    background-color: lightgrey;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}