head
    link(href="/css/style.css" rel="stylesheet" type="text/css")
body
    div(class="container")
        h1 PI GPIO TEST
        div(class="btn green" onClick="gpioController.toggleLED('green')") Green Button
        div(class="btn yellow" onClick="gpioController.toggleLED('yellow')") Yellow Button
        div(class="btn red" onClick="gpioController.toggleLED('red')") Red Button