head
    link(href="/css/style.css" rel="stylesheet" type="text/css")

body
    div(class="container")
        h1 Raspberry Pi GPIO LED Test
        div(class= "btn-container")
            div(class="btn green") Green Button
            div(class="btn yellow") Yellow Button
            div(class="btn red") Red Button
            div(class= "btn initialize") Initalize LEDs
        div(class= "img-container")
            img(src= "./images/piSchematic.png")
            img(src="./images/RPi-Logo-Landscape-SCREEN.png")


    script(src="./index.js" type="text/javascript")